<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (!currentUser) { %>
      <li>  <a href=""  data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a></li>
      <li> <a href=""  data-toggle="modal" data-target="#modalLoginForm">Login</a> </li>
    <% } else { %>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/reviews/all">Reviews</a></li>
    <% } %>
  </ul>
</nav>

