<div class="container">
    <div class="row">
        <div class="col">
            <h3>Upcomming</h3>
            <div class="horizontal-scroll-wrapper squares">
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
                 <div><img class="popular-movie-img" src="https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt=""></div>
            </div>
        </div>  
    </div>  
</div>