nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.search-img{
  height: 200px;
}

.search-container{
  border:1px solid lightgrey;
  margin-top: 10px;
}

.info-img{
  height: 400px;
}

.search-bar{
  width: 55vw;
  padding: 6px 2px;
  border: 1px solid lightgray;
}

.review-img{
  height: 400px;
}

.review-info-wrapper{
  margin-left: 10px;
}

.review-logo{
  width:10vw;
}

.review-input{
  width: 500px;
}

.horizontal-scroll-wrapper {
  /* width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px); */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.horizontal-scroll-wrapper > div {
  display: inline-block;
}

.popular-movie-img{
  display: inline-block;
  height: 200px
}
