
/*
form {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: center;
}
*/

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  text-align: center;
}

.form-control {
  text-align: center;
}

h1 {
  color: chartreuse;
}

.search-img{
  height: 200px;
}

.search-container{
  border:1px solid lightgrey;
  margin-top: 10px;
}

.info-img{
  height: 400px;
}

.search-bar{
  width: 55vw;
  padding: 6px 2px;
  border: 1px solid lightgray;
}
