body {
  background-color: goldenrod;
}

form {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: center;
}


nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  text-align: center;
}

h1 {
  color: rgb(0, 174, 255);
  text-align: center;
}