<h1>Favorites</h1>

<div class="d-flex flex-wrap stack">
<% favoriteMovies.forEach(favorite => { %> 
    <div>
        <img src="<%= `https://image.tmdb.org/t/p/w500${favorite.moviePoster}` %> " alt="" style="display: block; margin: 0 auto;">
        <p><a  href="/movies/info/<%= favorite.movieId %> ">more...</a></p>
        <form action="/favorites?_method=DELETE" method="POST">
        <input type="hidden" name="id" value=" <%= favorite.id %>  ">
        <button type="submit">Delete</button>
    </form>
    </div>
        <% }) %> 
        
</div>