<h1>Favorites</h1>


<% favoriteMovies.forEach(favorite => { %> 
    <img src="<%= `https://image.tmdb.org/t/p/w500${favorite.moviePoster}` %> " alt="">
    <h3><%#= favorite.moviePoster %> </h3>
    <h3><%#= favorite.id %> </h3>
    <h3><%#= favorite.movieId %> </h3>
<% }) %> 