<body class="favorite">
<h1>Favorites</h1>

<div class="d-flex flex-wrap stack container-fluid">
<% favoriteMovies.forEach(favorite => { %> 

    <div class="card">
        <img src="<%= `https://image.tmdb.org/t/p/w500${favorite.moviePoster}` %> " alt="" style="display: block; margin: 0 auto;">
        <div class="card-body">
            <button class="info" type="submit"><a  href="/movies/info/<%= favorite.movieId %> ">More Details</a></button>
        <form action="/favorites?_method=DELETE" method="POST">
        <input type="hidden" name="id" value=" <%= favorite.id %>  ">
        <button class="delete" type="submit">Delete</button>
        </form>
        </div>
    </div>
    <% }) %> 
</div>
</body>
    <!-- <div>
        <img src="<//%= `https://image.tmdb.org/t/p/w500${favorite.moviePoster}` %> " alt="" style="display: block; margin: 0 auto;">
        <p><a  href="/movies/info/<//%= favorite.movieId %> ">more...</a></p>
        <form action="/favorites?_method=DELETE" method="POST">
        <input type="hidden" name="id" value=" <//%= favorite.id %>  ">
        <button type="submit">Delete</button>
    </form>
    </div> -->
        